block vars
  - var category = "index"
  - var page = "index"

extend _layout

block head
  link(rel="start", href="", title="")
  link(rel="next", href="", title="")
  link(rel="prev", href="", title="")
  link(rel="stylesheet", href="")

block header
  h1 #{meta.h1.index}

block main

block sub

block footer

block script
  script(src="")
