block vars
  - var category = 'home'
  - var page = 'index'
  - var pageId = page
  - var pageClass = page+' '+category

extends _layout

block head
  link(rel='stylesheet', href='')

block header
  h1

block main

block sub

block footer

block script
  script(src='')
