@function margin($margin, $lheight, $base, $unit: 0) {
	$val: $margin + (floor(((ceil((abs(1 - ($lheight / $base)) / 2) * 1000) / 1000) * $base) * 10) / 10 * -1);

	@if $unit == 1 or $unit == 'px' {
		$val: $val + 'px';
	} @else if type-of($unit) == 'string' {
		$val: $val + $unit;
	}

	@return unquote($val);
}

@function padding($margin, $lheight, $base, $unit: 0) {
	@return margin($margin, $lheight, $base, $unit);
}

@function str_to_list($target) {
	$text: unquote("#{$target}");
	$classes: ();

	$pos: str-index($text, ' ');

	@while $pos != str-length($text) {
		$pos: str-index($text, ' ');

		@if $pos == null {
			$pos: str-length($text);
		}

		@if $pos != 0 {
			$class: str-slice($text, 0, $pos);
			$classes: append($classes, $class, comma);
			$text: str-slice($text, $pos + 1, str-length($text));
		}
	}

	@return $classes;
}

@function compact($var-1, $var-2: false,
$var-3: false, $var-4: false,
$var-5: false, $var-6: false,
$var-7: false, $var-8: false,
$var-9: false, $var-10: false) {
	$full: $var-1;
	$vars: $var-2, $var-3, $var-4, $var-5,
	$var-6, $var-7, $var-8, $var-9, $var-10;

	@each $var in $vars {
		@if $var {
			$full: $full, $var;
		}
	}

	@return $full;
}

// @function pxtoem($target,$base){
// 	@return ($target / $base)+em;
// }
//
// @function emtopx($target,$base){
// 	@return ($target * $base)+px;
// }
//
// @function dummytext($length){
// 	//$base:t h i s \  i s \  d u m m y \  t e x t \,;
// 	$base:こ こ に 文 章 が 入 り ま す 。;
// 	$text:'';
// 	$num:floor($length / length($base));
// 	$rest:$length % length($base);
//
// 	@if $length <= length($base){
// 		@for $i from 1 through $length {
// 			@if nth($base,$i) == '\ ' {
// 				$text:$text+' ';
// 			} @else if nth($base,$i) == '\.' {
// 				$text:$text+'.';
// 			} @else if nth($base,$i) == '\,' {
// 				$text:$text+',';
// 			} @else {
// 				$text:$text+nth($base,$i);
// 			}
// 		}
//
// 	} @else {
// 		@for $i from 1 through $num {
// 			@for $j from 1 through length($base) {
// 				@if nth($base,$j) == '\ ' {
// 					$text:$text+' ';
// 				} @else if nth($base,$j) == '\.' {
// 					$text:$text+'.';
// 				} @else if nth($base,$j) == '\,' {
// 					$text:$text+',';
// 				} @else {
// 					$text:$text+nth($base,$j);
// 				}
// 			}
// 		}
//
// 		@if $rest != 0 {
// 			@for $k from 1 through length($rest) {
// 				@if nth($base,$k) == '\ ' {
// 					$text:$text+' ';
// 				} @else if nth($base,$k) == '\.' {
// 					$text:$text+'.';
// 				} @else if nth($base,$k) == '\,' {
// 					$text:$text+',';
// 				} @else {
// 					$text:$text+nth($base,$k);
// 				}
// 			}
// 		}
// 	}
//
// 	@return $text;
// }
//
// @function width($num){
// 		@return nth($width,$num);
// }
//
// @function color($num){
// 		@return nth($color,$num);
// }
//
// @function line_height($num){
// 		@return nth($line_height,$num);
// }
//
// @function font_color($num){
// 		@return nth($font_color,$num);
// }
