@mixin layout-tags {
	html ,
	body {
		height:100%;
	}

	body {
		-webkit-text-size-adjust:100%;
	}

	a {
		& ,
		&:before ,
		&:after {
			@include transition(background-color $mouseover linear,background-image $mouseover linear);
		}

		> * {
			@include transition(opacity $mouseover linear);
		}

		img {
			background: rgba(#fff, .1);
		}

		&:hover {
			text-decoration:underline;

			> * {
				@include opacity(0);
				text-decoration:none;
			}
		}
	}
}

@mixin layout-container {
	#container {
		position:relative;
		min-height:100%;

		body > & {
			height:auto;
		}
	}
}

@mixin common {
	@font-face {
		font-family: 'YakuHanJP';
		font-style: normal;
		font-weight: 400;
		src: url(../fonts/YakuHanJP/YakuHanJP-Regular.woff2) format('woff2'),
		url(../fonts/YakuHanJP/YakuHanJP-Regular.woff) format('woff'),
		url(../fonts/YakuHanJP/YakuHanJP-Regular.eot);
	}

	@font-face {
		font-family: 'YakuHanJP';
		font-style: normal;
		font-weight: 700;
		src: url(../fonts/YakuHanJP/YakuHanJP-Bold.woff2) format('woff2'),
		url(../fonts/YakuHanJP/YakuHanJP-Bold.woff) format('woff'),
		url(../fonts/YakuHanJP/YakuHanJP-Bold.eot);
	}
}

@mixin layout-header {
}

@mixin layout-content {
}

@mixin layout-main {
}

@mixin layout-sub {
}

@mixin layout-footer {
	#footer {
		position:absolute;
		bottom:0;
		width:100%;
	}
}
