//PIE使うから要らないかも
@mixin clearfix {
	&:before ,
	&:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}

	* html & {
		zoom:1;
	}

	*+html & {
		zoom:1;
	}
}

@mixin background($path:'',$pos1:'',$pos2:'',$repeat:'',$color:''){
	@if $path != '' {
		$path:url(#{$path});
	} @else {
		$path:'';
	}

	@if $pos1 != '' {
		$pos1:' #{$pos1}';
	}

	@if $pos2 != '' {
		$pos2:' #{$pos2}';
	}

	@if $repeat != '' {
		$repeat:' #{$repeat}';
	}

	@if $color != '' {
		$color:' #{$color}';
	}

	@if $path != '' {
		background:$path#{$pos1}#{$pos2}#{$repeat}#{$color};
	} @else {
		@if $color != '' {
			background:#{$color};
		}
	}
}

@mixin rover($width,$height,$bg,$ext:'gif',$pos1:'left',$pos2:'top',$color:''){
	@if $ext == '' {
		$ext:'gif';
	}
	@if $bg != '' {
		@if $color != '' {
			background:url('../img/' + $bg + '.' + $ext) #{$pos1} #{$pos2} no-repeat $color;
		} @else {
			background:url('../img/' + $bg + '.' + $ext) #{$pos1} #{$pos2} no-repeat;
		}
	}

	a {
		display:block;
		@if $width != '' {
		width:$width + px;
		}
		@if $height != '' {
		height:$height + px;
		}

		img {
			display:block;
			//width:auto !important;	import無しでも大丈夫？
			//height:auto !important;
			width:auto;
			height:auto;
		}

		&:hover {
			background:none;

			img {
				//width:0px !important;	import無しでも大丈夫？
				//height:0px !important;
				width:0;	//fadein/outが必要な時はコメントアウト
				height:0;	//fadein/outが必要な時はコメントアウト
				vertical-align:top;
			}
		}
	}
}

@mixin rover_cancel {
	background:none !important;

	a {
		display:inline;
		width:auto !important;
		height:auto !important;

		&:hover {
			background:none;

			img {
				width:auto !important;
				height:auto !important;
			}
		}
	}
}
